.my-segmented
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  color: #7e56d8;
  border-color: #7e56d8;
  background-color: #e0e2e7;
}

.my-segmented .ant-radio-button-wrapper:hover {
  color: #7e56d8;
}
:where(.css-dev-only-do-not-override-1m62vyb).ant-segmented
  .ant-segmented-item-selected {
  background-color: #dedefa;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03),
    0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02);
  color: #7e56d8 !important;

  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.005em;
  text-align: left;
}
:where(.css-dev-only-do-not-override-1m62vyb).ant-segmented
  .ant-segmented-group {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-items: flex-start;
  width: 100%;
  flex-wrap: wrap;
}
.setting-container {
  background-color: white;
  padding: 18px 24px 18px 24px;
  border-radius: 8px;
  border: 1px solid #e0e2e7;
  gap: 18px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.setting-container-list {
  background-color: white;
  padding: 18px 24px 18px 24px;
  /* border-radius: 8px; */
  border: 1px solid #e0e2e7;
  gap: 18px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.setting-container-list-items {
  height: 55px;
  padding: 18px 22px 18px 22px;
  border: 1px solid #e0e2e7;
  gap: 8px;
}
/* .setting-list-header {
} */
.setting-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.a {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 14px;
}
.aa {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 50%;
  margin-right: 40px;
}
.push-notify {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 10px;
  color: #454b60;
  margin-top: 25px;
  width: 100%;
  display: flex;
}
.setting-description {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.005em;
  text-align: left;
  color: #858d9d;
}
:where(.css-dev-only-do-not-override-1m62vyb).ant-switch.ant-switch-checked
  .ant-switch-inner {
  background: #7e56d8;
}
@media (max-width: 1200px) {
  .container-box-name {
    flex-direction: column;
  }

  .main-name {
    width: 100%;
  }

  .push-notify {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
.btnStyle {
  line-height: 1.5715;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: 1px solid transparent;
  box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;
  height: 32px;
  padding: 4px 15px;
  font-size: 14px;
  border-color: #e0e2e7;
  background: #e0e2e7;
  color: #7e56d8;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
}

.btnStyle1 {
  line-height: 1.5715;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: 1px solid transparent;
  box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;
  height: 32px;
  padding: 4px 15px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.85);
  border-color: #d9d9d9;
  background: #fff;
}

/* .btnStyle1:hover {
  color: 40a9ff;
  border-color: #40a9ff;
  background: #fff;
}

.btnStyle:hover {
  color: white;
  border-color: rgb(15, 42, 111);
  background: rgb(15, 42, 111);
} */
:where(.css-dev-only-do-not-override-1m62vyb).ant-radio-wrapper
  .ant-radio-checked
  .ant-radio-inner {
  color: #7e56d8;
  border-color: #7e56d8;
  background-color: #7e56d8;
}
